.Modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  top: 0;
  left: 0;
}

.Modal-container {
  height: 100%;
  width: 100%;
}

.Modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Modal-modal {
  border: 1px #CCC solid;
  position: absolute;
  height: 80vh;
  width: 60vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow: hidden;
}

.Modal-modal-content {
  height: 100%;
  width: 100%;
}

.Modal-enter {
  transform-origin: center;
  transform: scale(0, 0);
}

.Modal-enter.Modal-enter-active {
  transform: scale(1, 1);
  transition: transform 300ms cubic-bezier(0,.1,.08,.95);
}

.Modal-leave {
  transform-origin: center;
  transform: scale(1, 1);
}

.Modal-leave.Modal-leave-active {
  transform: scale(0, 0);
  transition: transform 300ms cubic-bezier(0,.1,.08,.95);
}
