body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  border: 1px #CCC solid;
  background: white;
  cursor: pointer;
}

button:hover {
  background: #EEE;
  outline: none;
}

button:active {
  background: #999;
}

button.success {
  color: white;
  background: #388E3C;
}

button.success:hover {
  background: #4CAF50;
}

button.success:active {
  background: #1B5E20;
}

button.danger {
  color: white;
  background: #d32f2f;
}

button.danger:hover {
  background: #f44336;
}

button.danger:active {
  background: #b71c1c;
}
